body {
  margin: 0;
}
.app {
  width: 100%;
  height: 100%;
  background-color: #0c0a1c;
  position: fixed;
}

.container {
  position: relative;
  top: -30px;
  left: -135px;
}

/* For infinite rotate */

/* .rotate {
  animation: spinner 1.5s linear infinite;
}
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.white {
  position: relative;
  color: white;
}

.black {
  color: #0c0a1c;
} */
